/*css reset*/
body{
    margin: 0;
    padding: 0;
}



h2{
    /*
        Definir a cor do texto ultilizando rgb
        R => 0...255
        G => 0...255
        B => 0...255
    */

    color: rgb(62, 106, 138);
}
div{
    background-color: #004e8e ;
    
    
}
a{
    color: #fff;
    text-decoration: none;
    /*text-decoration altera a decoração do texto
    none fax com que o texto nao tenha nenhuma decoração = __*/
    
}
/*hover é a acção que ocorre quando passa o mouse por cima do elemento*/
a:hover{
    color: #ff6500;
}

