.demonstracao {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 220px;
    height: 100px;
    margin: 6px;
    padding: 8px;
}

/*
top => parte cima
righit => direita
bottom => parte baixa
left => esquerda
*/
.borda-solid {
    /*topo*/
    border-top-style: solid;
    border-top-color: black;
    border-top-width: 4px;

    /*direita*/
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 4px;

    /*baixo*/
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 4px;
    /*esquerda*/
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 4px;
}

.borda-dashed {
    border-top: 4px dashed #f59e09;
    border-right: 4px dashed #f59e09;
    border-bottom: 4px dashed #f59e09;
    border-left: 4px dashed #f59e09;
}

.borda-dotted {
    border-width: 6px 6px 6px 6px;
    border-style: dotted dotted dotted dotted;
    border-color: #ef4444 #ef4444 #ef4444 #ef4444;
}

.borda-double {
    border-width: 6px 8px;
    border-color: #7c3aed;
    border-style: double;
}

.borda-groove {
    border: 8px #3b82f6 groove;
}

.borda-ridge {
    border: 8px #10b981 ridge;
}

.borda-insert {
    border: 8px #ec4899 inset;
}

.borda-outset {
    border: 8px #eab308 outset;
}

.borda-radius-diferente{
    border: 8px #b8b195 solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 40px;
}
.borda-radius-diferente:hover{
    border-color: #6e6a59;
    cursor: pointer;
}

.borda-radius-iguais{
    border: 8px #12ab23 dashed;
    border-radius: 100px;
}
div
