a {
    text-decoration: none;
    color: #080808;
}

img {
    width: 300px;
}

/* # => ID(unico) que colocamos na imagem no html*/
#the-office {
    width: 100px;
}

#breaking-bad {
    width: 150px;
}

#the-walking-dead {
    width: 200px;
}
/* . => CLASSE uma forma de compartilhar a estilização entre elementos*/
.imagens-mesmo-tamanho {
    width: 300px;
}
