
body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
.block {
    display: block;
    background-color: #7aeee8;
}


.ba {
    width: 1000px;
    display: inline;
    background-color: #7aeee8;
}
.inline-block {
    display: inline-block;
    background-color: #7aeee8;
}
.botao{
    width: 200px;
    max-width: 300px;
    font-size: 17px;
    background-color: rgb(33, 149, 198);
    border-radius: 8px;
}
.botao2{
    height: 100px;
    min-height: 30px;
    font-size: 17px;
    background-color: rgb(33, 149, 198);
    border-radius: 8px;
}

.margem{
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 9px;
    margin-left: 13px;
    width: 200px;
    font-size: 17px;
    background-color: rgb(33, 149, 198);
    border-radius: 8px;
}
.margem1{
    margin: 50px;
    width: 200px;
    font-size: 17px;
    background-color: rgb(33, 149, 198);
    border-radius: 8px;
}
.padding{
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 9px;
    padding-left: 9px;
    width: 200px;
    font-size: 17px;
    background-color: rgb(33, 149, 198);
    border-radius: 8px;
}
.padding1{
    padding: 30px;
    width: 200px;
    font-size: 17px;
    background-color: rgb(33, 149, 198);
    border-radius: 8px;
}
.joia{
    width: 250px;
    border: solid blue 5px;
    border-radius: 30px;
}
.color{
    background-color: #7aeee8;
}
.imagem{
    h3{
        padding-top: 20px;
        color: black;
    }
    text-align: center;
    font-size: 30px;
    color: #fff;
    width: 100%;
    height: 150px;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg');
    background-size: 100% 100%;
}

.color1{
    color:#4063c5 ;
}
.fonte{
    font-family: "Bebas Neue", sans-serif;
    margin: 0px;
    font-style: normal;
    font-size: 40px;
  }
  .tam{
    font-size:50px;
  }
  .line{
    line-height: 10px;
  }